
<% flash.each do |name, msg| %>
  <div class='alert alert-<%=name %>' >

    <%= content_tag :div, msg, :id => "flash-#{name}" if msg.is_a?(String) %>
    <a href="#" class="close" data-dismiss="alert" style="float: right">&#215</a>


  </div>
<% end %>